/* #about {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__container {
  border: 1px solid black;
  max-width: 1200px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.about__heading {
  margin-block: 32px;
  font-size: 3rem;
}
.about__content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.about__img--image {
  width: 400px;
  height: 400px;
} */
