.header {
  background-image: url(./src/assets/banner.jpg);
  border-radius: 24px;
  max-width: 1200px;
  height: (100vh - 100px);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-inline: 40px;
}
.left {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 48px;
}
.header__text {
  font-size: 3.8rem;
}
.header__subtext {
  width: 500px;
  font-size: 0.9rem;
  font-style: italic;
  color: rgba(0, 0, 0, 0.525);
  margin-top: 24px;
}
.header__btn {
  background-image: url("/src/assets/banner3.jpg");
  margin-top: 24px;
  padding: 20px 60px;
  font-size: 1.2rem;
  border: none;
  border-radius: 16px;
  color: #fff;
}
.right {
  padding: 48px;
  width: 600px;
}
.header__img {
  width: 500px;
  height: 600px;
  border-radius: 24px;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .container {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header {
    max-width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .left {
    width: 480px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
  }
  .header__text {
    text-align: center;
    font-size: 2.6rem;
    font-weight: 800;
  }
  .header__subtext {
    width: 400px;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 400;
    padding: 20px;
    line-height: 1.2rem;
    padding-top: 0px;
  }
  .right {
    padding: 24px;
    width: 480px;
  }
  .header__img {
    width: 400px;
    height: 480px;
    border-radius: 24px;
    object-fit: cover;
  }
}

@media only screen and (max-width: 390px) {
  .container {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header {
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .left {
    width: 312px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
  }
  .header__text {
    text-align: center;
    font-size: 2.6rem;
    font-weight: 800;
  }
  .header__subtext {
    width: 240px;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 400;
    padding: 20px;
    line-height: 1.2rem;
    padding-top: 0px;
  }
  .right {
    padding: 24px;
    width: 312px;
  }
  .header__img {
    width: 260px;
    height: 480px;
    border-radius: 24px;
    object-fit: cover;
  }
}
